
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media (min-width: 600px){
    header, main {
        margin-right: 20%;
        margin-left: 20%;
    }
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.item {
    border-radius: 10px;
    background: rgba(139, 139, 139, 0.26);
    padding: 15px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    text-align: left;
}

button {
    margin: 20px;
}

.custom-btn {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-11 {
    background: #f2f2f2;
    border: 2px solid #000;
    transition: all 0.3s ease;
}
  
.btn-11:before, .btn-11:after {
    position: absolute;
    content: " ";
    z-index: -1;
    width: 25%;
    top: 50%;
    height: 2px;
    background: #000;
    transition: all 0.3s ease;
}

.btn-11:before {
    left: -10%;
}

.btn-11:after {
    right: -10%;
}

.btn-11:hover {
    background: #000;
    color: #fff;
}

.btn-11:hover:before {
    left: 0%;
}

.btn-11:hover:after {
    right: 0%;
}