
body {
    background-color: white;
}

header, main, footer {
    background-color: rgba(139, 139, 139, 0.096);
}

@media (min-width: 600px) {
    header, main, footer {
        margin-right: 20%;
        margin-left: 20%;
    }
}

h1  {
    color: rgb(51, 255, 0);
}

h2 {
    color: rgba(96, 251, 161, 0.829);
}

td {
    text-align: center;
}